* {
    padding: 0;
    margin: 0;
}

body {
    background-color: blanchedalmond;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    background-color: rgb(183, 248, 210);
    height: 90px;
    margin-top: -2px;
    padding-left: 15%;
    padding-right: 15%;
    /* padding-right: 100px;
    padding-left: 100px; */
}

.navbar a {
    margin-right: 15px;
    padding: 27px;
    color: rgb(73, 75, 75);
}

.names {
    min-height: 300px;
    margin: auto;
    padding-top: 150px;
    text-align: center;
    /* background-color: rgb(44, 41, 41); */
    color: rgb(78, 98, 117);
    padding-left: 15%;
    padding-right: 15%;
    border-bottom-style: solid;
    border-bottom-color: rgb(73, 55, 241);
    border-width: 2px;
    font-size: 2em;
    background-color: rgb(252, 230, 172);
}

.aboutAkan{
    padding: 40px;
    text-align: justify;
}

.whatsAkan {
    background-color: rgb(252, 230, 172);
    padding-left: 15%;
    padding-right: 15%;
    padding: 10px;
}

.whatsAkan div {
    background-color: azure;
    padding: 10px;
}

.whatsAkan img{
    float: left;
    width: 500px;
    margin: 4px;
    height: 90%;
}

@media screen and (max-width: 780px){
    .whatsAkan div {
        display: flex;
        flex-direction: column;
    }
    .whatsAkan img {
        width: 90%;
        margin: auto;
    }
}

#yourAkan {
    padding: 50px;
}

.yourAkan {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: justify;
    /* background-color: rgb(207, 187, 187); */
    padding: 50px;
    background-color: rgb(252, 230, 172);
}

.yourAkan p {
    text-align: center;
    font-style: italic;
}

.akan-form {
    border-style: solid;
    border-width: 1px;
    padding: 28px;
    min-width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.iform {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 5px;
}

label {
    margin-bottom: 0;
}

.submit {
    width: 50%;
    align-items: center;
    margin-top: 10px;
}

#output {
    padding: 25px;
    font-size: 2em;
}

.footer {
    text-align: center;
    height: 100px;
    margin: auto;
    padding-top: 40px;
    background-color: gainsboro;
}

.social {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 80%;

}